link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
link(rel='stylesheet', href='/Materialize/dist/css/materialize.min.css')
link(rel="stylesheet", href="/stylesheets/style.css")
link(rel="stylesheet", href="/stylesheets/animate.css")
