doctype html
html
  head
    title= "XMPP Chat Node.js"
    link(rel='stylesheet', href='/Materialize/dist/css/materialize.min.css')
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  body
    .navbar-fixed
      nav.light-green
        .nav-wrapper
          a(href="#" class="brand-logo ") BEST XMPP Chat
    .section
      block content
    script(src="/jquery/dist/jquery.min.js")
    script(src="/Materialize/dist/js/materialize.min.js")
    block script