doctype html
html
  head
    title= "XMPP Chat Node.js"
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
    include css
  body
    header
      .navbar-fixed
        nav.top-nav.teal.lighten-2
          .nav-wrapper
            .container
            a.button-collapse(href='#', data-activates='contacts')
              i.material-icons menu
            a(href="#" class="brand-logo ") BEST XMPP Chat
            ul.right.hide-on-med-and-down
              li
                a.btn.red.lighten-1.modal-trigger( href="#addFriend") Add Friend
              li
                a.btn.red.lighten-1(id="LogOff" href="/logoff") Close Chat
              li
                a.btn.red.lighten-1.modal-trigger(href= "#createGroup") Create Group


      ul.side-nav.fixed.collection(id="contacts")
        .hide-on-med-and-up
          li
            a.btn.red.lighten-1.modal-trigger( href="#addFriend") Add Friend
          li
            a.btn.red.lighten-1(id="LogOff" href="/logoff") Close Chat
          li
            a.btn.red.lighten-1.modal-trigger(href= "#createGroup") Create Group
        li.collection-header.center-align.teal.lighten-5
          span.material-icons.small.teal-text.darken-1(style="font-size:4rem") contacts
        a.button-collapse.left(href='', data-activates='contacts')


        i.mdi-navigation-menu
      a(href="#" data-activates="slide-out" class="button-collapse")
        i(class="mdi-navigation-menu")

    main
      .container
        .section
          block content
    script(src="/jquery/dist/jquery.min.js")
    script(src="/Materialize/dist/js/materialize.min.js")
    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    script(src="https://cdn.firebase.com/js/client/2.4.2/firebase.js")
    //script(src="javascripts/app.js")
    block script
    script.
      $(".button-collapse").sideNav();
      $('.modal-trigger').leanModal({
                dismissible: true, // Modal can be dismissed by clicking outside of the modal
                opacity: .5, // Opacity of modal background
                in_duration: 300, // Transition in duration
                out_duration: 200 // Transition out duration

              }
      );

