//
   Created by mario on 5/4/2016.
.modal(id="addFriend")
    .modal-content
        h4  Add Friend
        label(for="addFriendUser") User Name
        input(id="addFriendUser" type="text")
        a.btn.waves-effect.waves-light.modal-close(id="addFriendButton") Add Friend
            i.material-icons perm_identity
