//
   Created by mario on 4/30/2016.
extends shared/layout
block content
    .row
        ul.collection(id="messages")
    .row
        form.col.s12.chat
            textarea.col.s6(id="m" autocomplete="off")
            button.btn-large Send
    include addFriend
    include friendRequest
block script
    script.
        var contactTemplate=$("<li>").addClass("collection-item avatar");
        var icon=$("<i>").addClass("material-icons circle").text("perm_identity");
        var jid =$("<span>").addClass("title");
        var new_friend = "";
        contactTemplate.append(icon);
        contactTemplate.append(jid);


        var currentReceiver = "";
        $(".button-collapse").sideNav();
        var socket = io();
        socket.emit("init", "#{jid}");


        $('form').submit(function () {
            $('#messages').append($('<li class="collection-item right-align green lighten-4">').text($('#m').val()));
            socket.emit('chatTo', "carla@cml.chi.itesm.mx", $('#m').val());

            $('#m').val('');
            return false;
        });

        $("#addFriendButton").click(function () {
            socket.emit("addFriend", $("#addFriendUser").val());
            $("#addFriendUser").val("");
        });

        $("#createGroup").click(function () {
            socket.emit("createGroup", "dave", "davians", "carla,mario", "Plz be my friends");
        });

        socket.on("append", function (contact) {
            var contactBadge =contactTemplate.clone();
            contactBadge.find("span.title").text(contact.jid)
            $("#contacts").append(contactBadge)
        });
        socket.on('chat message', function (msg) {
            $('#messages').append($('<li class="collection-item left-align green lighten-4">').text(msg));
        });
        socket.on("contact", function (contacts) {
            $("#contacts").append($('<li class="collection-item">').text(msg));
        });
        socket.on("showFriendRequest", function (contact){
            new_friend = contact;
            $("#friendRequestFrom").append("Friend request from: " + contact);
            $('#friendRequest').openModal();
        });

        $("#acceptFriend").click(function () {
            socket.emit("acceptFriend", new_friend);
            new_friend = "";
        });
        


