//
   Created by mario on 4/30/2016.
extends shared/layout
block content
    .row
        ul.collection(id="messages")
    .row
        form.col.s12.chat
            textarea.col.s7(id="m" autocomplete="off")
            button.col.s3.offset-s1.btn-large.red.darken-1(type="submit") Send
    include addFriend
    include friendRequest
    include createGroup
    include groupRequest
block script
    script.
        var socket = io();
        var actual_user = "#{jid}";
        socket.emit("init", "#{jid}","#{password}");
        //Chat Template
        var chatTemplate = $("<ul>").addClass("collection").attr("id","message");
        var chatsByUser={};
        var actualChattingUser;



        var contactTemplate=$("<li >").addClass("collection-item avatar hoverable animated fadeInLeft white");
        var icon=$("<i>").addClass("material-icons circle").text("perm_identity");
        var jid =$("<span>").addClass("title");
        var messages=$("<p>").addClass("materialize-red-text");
        var new_friend = "";
        var new_group = "";
        contactTemplate.append(icon);
        contactTemplate.append(jid);


        var currentReceiver = "";
        $(".button-collapse").sideNav();




        $('form').submit(function () {
            var ref = new Firebase('https://importantmsgs.firebaseio.com/');
            var msg = $("#m").val();
            var message = $('<li class="collection-item left-align green lighten-4 right-align">').text($('#m').val());
            message.click(function () {
                 ref.push({
                    message : msg,
                    from: actual_user,
                    user: actual_user
                 });
                 $(this).removeClass("green lighten-4");
                 $(this).addClass("red lighten-2");
            });
            $('#messages').append(message);
            socket.emit('chatTo', actualChattingUser, $('#m').val());
            $('#m').val('');
            return false;
        });

        $("#addFriendButton").click(function () {
            socket.emit("addFriend", $("#addFriendUser").val());
            $("#addFriendUser").val("");
        });

        $("#createGroupButton").click(function () {
            var nick = $("#userNick").val();
            var group_name = $("#groupName").val();
            var inviting_message = $("#inviteMessage").val();
            var members = $("#members").val();
            createBadge({jid:group_name+"@conference.cml.chi.itesm.mx"});
            $(document.getElementById(group_name+"@conference.cml.chi.itesm.mx")).find("i").text("supervisor_account");
           socket.emit("createGroup", nick, group_name, members, inviting_message);
        });

        socket.on("append", function (contact) {
            createBadge({jid:contact})
        });

        socket.on("groupchat", function (room, from, msg) {
            if (chatsByUser[room]){
                if(actualChattingUser===room){
                    $('#messages').append($('<li class="collection-item left-align green lighten-4">').text(msg));
                }else{
                    chatsByUser[room].append($('<li class="collection-item left-align green lighten-4">').text(
                            from + " says " + msg));
                    $(document.getElementById(room)).removeClass("fadeInLeft");
                    $(document.getElementById(room)).addClass("animated infinite shake");
                }

            }else{
                createBadge({jid:room});
                $(document.getElementById(from)).find("i").text("supervisor_account");
                chatsByUser[room].append($('<li class="collection-item left-align green lighten-4">').text(
                        from + " says " + msg));
                $(document.getElementById(room)).removeClass("fadeInLeft");
                $(document.getElementById(room)).addClass("animated infinite shake");

            }
        });

        socket.on('chat message', function (from,msg) {
            var ref = new Firebase('https://importantmsgs.firebaseio.com/');
            var message = $('<li class="collection-item left-align green hoverable lighten-4">').text(msg);
            message.click(function () {
                 ref.push({
                    message : msg,
                    from: from,
                    user: actual_user
                 });
            });
        if (from===actualChattingUser){
            $('#messages').append(message);
        }else{
            chatsByUser[from].append(message);
            $(document.getElementById(from)).removeClass("fadeInLeft");
            $(document.getElementById(from)).addClass("animated infinite shake");
        }



        });
        socket.on("contact", function (contacts) {
        $("#contacts").append($('<li class="collection-item">').text(msg));
        });
        
        socket.on("showFriendRequest", function (contact){
        new_friend = contact;
        $("#friendRequestFrom").append("Friend request from: " + contact);
        $('#friendRequest').openModal();
        });

        $("#acceptFriend").click(function () {
            socket.emit("acceptFriend", new_friend);
        new_friend = "";
        });


        function createBadge(badgeName){
            var contactBadge = contactTemplate.clone();
            contactBadge.find("span.title").text(badgeName.jid.split("@")[0]);
            contactBadge.attr("id", badgeName.jid);
            contactBadge.find("i").addClass("green");
            chatsByUser[badgeName.jid] = chatTemplate.clone();
            contactBadge.click(function (event) {
                if (!actualChattingUser) {
                    $(this).addClass("teal lighten-2");
                    actualChattingUser = $(this).attr('id');
                    $(this).removeClass("shake");
                    $("#messages").append(chatsByUser[$(this).attr('id')].find("*"));
                } else if (actualChattingUser !== $(this).attr('id')) {
                    $(this).removeClass("shake");
                    var messagesInchat = $("#messages").find("*");
                    chatsByUser[actualChattingUser].empty();
                    chatsByUser[actualChattingUser].append(messagesInchat);
                    $("#contacts").find(".teal.lighten-2").removeClass("teal lighten-2");
                    $(this).addClass("teal lighten-2");
                    $("#messages").empty();
                    $("#messages").append(chatsByUser[$(this).attr('id')]);
                    actualChattingUser = $(this).attr('id');
                }

            });
            $("#contacts").append(contactBadge)
        }

        socket.on("showGroupMessage", function (groupName, inviter, message){
        new_group = groupName;
        $("#groupRequestFrom").append(inviter + " has invited you to join " + groupName + "<br>" + message);
        $('#groupRequest').openModal();
        });

        socket.on("buddy", function(jid,status){
            if(chatsByUser[jid]){
                var userIcon=$(document.getElementById(jid)).find("i");
                switch (status){
                    case "offline":
                        userIcon.removeClass("green orange");
                        userIcon.addClass("grey");
                        break;
                    case "away":
                        userIcon.removeClass("green grey");
                        userIcon.addClass("orange");
                        break;
                    case "online":
                        userIcon.removeClass("green grey");
                        userIcon.addClass("green");
                }
            }else{
                createBadge({jid:jid});
            }
        });
         $("#acceptGroup").click(function () {
            createBadge(new_group);
             $(document.getElementById(new_group)).find("i").text("supervisor_account");
             new_group = " ";
        });



