.modal(id="createGroup")
    .modal-content
        h4  Create Group
        label(for="groupName") Group Name
        input(id="groupName" type="text")
        label(for="userNick") Your nickname
        input(id="userNick" type="text")
        label(for="inviteMessage") Inviting message
        input(id="inviteMessage" type="text")
        label(for="members") Members (separated by commas)
        input(id="members" type="text")
        a.btn.waves-effect.waves-light.modal-close(id="createGroupButton") Create
