.modal.bottom-sheet.center(id="friendRequest")
	.modal-content
		h4 Friend Request
		p(id= "friendRequestFrom")
		.row.col.s3
			a.btn.green.lighten-1.modal-close(id="acceptFriend" ) Accept
			a.btn.red.lighten-1.modal-close(id="rejectFriend") Reject

