.modal.bottom-sheet.center(id="groupRequest")
	.modal-content
		h4 Group Request
		p(id= "groupRequestFrom")
		.row.col.s3
			a.btn.green.lighten-1.modal-close(id="acceptGroup" ) Accept
			a.btn.red.lighten-1.modal-close(id="rejectGroup") Reject

