html
  head
    include shared/css
  body
    .container-fluid
      .section
        .row
          form.col.offset-s4.s4.login.center-align.hoverable(action="/" method="post")
            .row
              .input-field.center-align.s12
                input(type="text" id="username" name="username" class="validate")
                label(for="username") Username
            .row
              .input-field.center-align.s12
                input(type="password" id="password" name="password" class="validate")
                label(for="password") Password
            .row
              .input-field.center-align.s12
                button.red.lighten-1(class="btn waves-effect waves-light" type="submit" name="action") Login
    script(src="/jquery/dist/jquery.min.js")
    script(src="/Materialize/dist/js/materialize.min.js")
