header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
li.collection-header > span.material-icons{
  color:#4db6ac;
}
form.chat { padding: 3px; position: fixed; bottom: 0; width: 100%; }

ul.right.hide-on-med-and-down{
  margin-right:240px;
}


.btn{
  margin-right: 2px;
}

#friendRequest,
#groupRequest {
	max-width: 400px;
	color: #FFF;
	background-color: #555;
}

